{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static 'AtividadeTres.css' %}'>
    <title>Document</title>
</head>
<body>
    <div class='barra-atividade-tres'>
        <a class='' href="{% url 'Atividade3:home' %}" style='color: inherit; text-decoration: none;'>
          Home
        </a>
        <a style='color: inherit; text-decoration: none;' href="{% url 'Atividade3:post_arquivo' %}">
          Cadastrar
        </a>
    </div>

    <div>
        {% if files == 'Não há arquivos registrados' %}
            {{files}}

        {% else %}
            {% for aluno in files %}
            <div>
                {{aluno.nome}}
                {{aluno.nota_um}}
                {{aluno.nota_dois}}
                {{aluno.nota_tres}}
            </div>
            {% endfor %}
        {% endif %}

    </div>

    <form action="{% url 'Atividade3:post_arquivo'%}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" placeholder='Nome' name='nome' required>
        </div>
        <div>
            <input type="text" placeholder='Primeira Nota' name='nota_um' required>
        </div>
        <div>
            <input type="text" placeholder='Segunda Nota' name='nota_dois' required>
        </div>
        <div>
            <input type="text" placeholder='Terceira Nota' name='nota_tres' required>
        </div>
        <input type="submit" value="Enviar">
    </form>


</body>
</html>