<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    {% for pagamento in pagamentos %}
      <ul>
        <li>
          <div style='display: flex; flex-direction: column;'>
            <span>Nome: {{pagamento.nome}}</spa n>
            <span>Horas Trabalhadas: {{pagamento.quantidade_horas|floatformat:0}}h</span>
            <span>Turno: {{pagamento.turno}}</span>
            <span>Categoria: {{pagamento.categoria}}</span>
            <span>Valor Total: {{pagamento.valorTotal}}</span>
            <span>Valor Hora: {{pagamento.valorHora}}</span>
          </div>
        </li>
      </ul>
    {% endfor %}
    <button style='border: none; background-color: whitesmoke; border-radius: .3rem; padding: 15px; margin-left: 20px;'>
      <a href="{% url 'Atividade1:postPagamento' %}" style='color: inherit; text-decoration: none;'>Cadastrar</a>
    </button>

    {% for valo in valor %}
    <p>{{valo}}</p>
    {% endfor %}


  </body>
</html>
