{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static 'AtividadeDois.css' %}'/>
  <title>Document</title>
</head>
<body>
  <div class='barra'>
    <a class='' href="{% url 'Atividade2:Home' %}" style='color: inherit; text-decoration: none;'>
      Home
    </a>
    <a style='color: inherit; text-decoration: none;' href="{% url 'Atividade2:postElevadores' %}">
      Cadastrar
    </a>
    </div>
  <table>
    <tr>
      <th></th>
      <th>Matutino</th>
      <th>Vespetino</th>
      <th>Noturno</th>
    </tr>
    <tr>
      <td>A</td>
      <td>{{ respostas.A.Matutino }}</td>
      <td>{{ respostas.A.Vespetino }}</td>
      <td>{{ respostas.A.Noturno }}</td>
    </tr>
    <tr>
      <td>B</td>
      <td>{{ respostas.B.Matutino }}</td>
      <td>{{ respostas.B.Vespetino }}</td>
      <td>{{ respostas.B.Noturno }}</td>
    </tr>
    <tr>
      <td>C</td>
      <td>{{ respostas.C.Matutino }}</td>
      <td>{{ respostas.C.Vespetino }}</td>
      <td>{{ respostas.C.Noturno }}</td>
    </tr>
  </table>
  <h1>Análise de elevadores</h1>
	<h2>Elevador mais utilizado e em que período se concentra o maior fluxo:</h2>
	<p>O elevador mais utilizado é o {{ respostas.Elevador_mais_utilizado }}</p>
	<h2>Período mais utilizado de todos:</h2>
	<p>O período mais utilizado de todos é {{  respostas.Periodo_mais_utilizado }}.</p>
	
	<h2>Diferença percentual entre o mais usado dos horários e o menos usado:</h2>
	<p>A diferença percentual entre o horário mais utilizado {{  respostas.Diferenca_percentual }}%.</p>  
</body>
</html>