<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <th></th>
      <th>Matutino</th>
      <th>Vespetino</th>
      <th>Noturno</th>
    </tr>
    <tr>
      <td>A</td>
      <td>{{ respostas.A.Matutino }}</td>
      <td>{{ respostas.A.Vespetino }}</td>
      <td>{{ respostas.A.Noturno }}</td>
    </tr>
    <tr>
      <td>B</td>
      <td>{{ respostas.B.Matutino }}</td>
      <td>{{ respostas.B.Vespetino }}</td>
      <td>{{ respostas.B.Noturno }}</td>
    </tr>
    <tr>
      <td>C</td>
      <td>{{ respostas.C.Matutino }}</td>
      <td>{{ respostas.C.Vespetino }}</td>
      <td>{{ respostas.C.Noturno }}</td>
    </tr>
  </table>
  
  <button><a href="{% url 'Atividade2:postElevadores' %}">Form postElevadores</a></button>
</body>
</html>