{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendimentos</title>
</head>
<body>

    <form method="post" action="{% url 'Prova:informar' %}">
        {% csrf_token %}
        <input type="text" name="mes" placeholder='Mês'>
        <input type="text" name="ano" placeholder='Ano'>
        <input type="text" name="salario" placeholder='Salario'>
        <input type="text" name="despesa" placeholder='Despesa'>
        <input type="submit" value="Salvar">
    </form>

    <form method='post' action="{% url 'Prova:atualizar'%}">
        {% csrf_token %}
        <input type="text" placeholder='Mês Antigo' name='mes_antigo'>
        <input type="text" placeholder='Mês Antigo' name='ano_antigo'>
        <input type="text" placeholder='Ano Novo' name='mes_novo'>
        <input type="text" placeholder='Ano Novo' name='ano_novo'>
        <input type="text" placeholder='Tipo: Despesa / Salario' name='tipo_novo'>
        <input type="text" placeholder='Valor' name='quantidade'>
        <input type="submit" value="Salvar Edição">
    </form>

    <form method='post' action="{% url 'Prova:excluir' %}">
        {% csrf_token %}
        <input type="text" placeholder='Mês' name='mes'>
        <input type="text" placeholder='Ano' name='ano'>
        <input type="submit" value="Excluir">
    </form>

    <table>
        <thead>
            <tr>
                <th>Mês</th>
                <th>Ano</th>
                <th>Salário</th>
                <th>Despesa</th>
                <th>Investimento</th>
                <th>Rendimento</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in dados %}
                <tr>
                    <td>{{ dado.mes }}</td>
                    <td>{{ dado.ano }}</td>
                    <td>{{ dado.salario }}</td>
                    <td>{{ dado.despesa }}</td>
                    <td>{{ dado.investimento }}</td>
                    <td>{{ dado.rendimento }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</body>
</html>